---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { useTranslations } from '../i18n/translations'

interface Props {
  lang: string
}

const { lang } = Astro.props
const t = useTranslations(lang)
const homeUrl = getRelativeLocaleUrl(lang, '/')
const aboutUrl = getRelativeLocaleUrl(lang, '/about')
const privacyUrl = getRelativeLocaleUrl(lang, '/privacy')
---

<footer>
  <span>&copy; <a href={homeUrl}>Lars Kleiner</a> {new Date().getFullYear()}</span>
  <a href={aboutUrl}>{t.about}</a>
  <a href={privacyUrl}>{t.privacy}</a>
</footer>
